<div>
  <h3 class="h6">コメント</h3>
  <div class="list-group">
    {% for comment in comments %}
      <a href="" class="list-group-item list-group-item-action p-3 routed-0">
        <p class="m-0">
          <small>{{ comment.comment }}</small>
        </p>
        <p class="m-0">
          <small>{{ comment.user.profile.username }} on {{ comment.created_at }}</small>
        </p>
      </a>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
    <form action="" method="post" class="my-4">
      <div class="mb-2">
        <label for="">コメント投稿</label>
        <textarea class="rounded-0 bg-light form-control" name="comment" id="" rows="3"></textarea>
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-outline-success" type="submit">コメントする</button>
      </div>
      {% csrf_token %}
    </form>
  {% else %}
    <p class="my-4">
      コメントを投稿するには<a href="{% url "login" %}">ログイン</a>してください
    </p>
  {% endif %}
</div>
