{% extends "mysite/base.html" %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="font-italic display-4">{{ article.title }}</h3>
        <p class="small text-muted text-end">{{ article.created_at }} by {{ article.author }}</p>
        <div class="my-5">{{ article.text }}</div>
        <div>
          {% include "blog/snippets/like_count.html" %}
          {% include "blog/snippets/tag.html" %}
        </div>
        <hr class="my-4" />
        {% include "blog/snippets/comment.html" %}
      </div>
      {% include "mysite/snippets/sidebar.html" %}
    </div>
  </main>
{% endblock content %}
