<nav class="blog-pagination">
  <div class="pagination">
    <span class="step-links">
      {% if articles.has_previous %}
        <a class="btn btn-outline-primary" href="?page=1">&laquo; first</a>
        <a class="btn btn-outline-primary"
           href="?page={{ articles.previous_page_number }}">previous</a>
      {% endif %}
      {% if articles.has_next %}
        <a class="btn btn-outline-primary"
           href="?page={{ articles.next_page_number }}">next</a>
        <a class="btn btn-outline-primary"
           href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</nav>
