<header class="py-3">
  <div class="row flex-nowrap justify-content-center align-item-center">
    <div class="col-4 text-center">
      <h1 class="display-4 font-italic">ReallySite</h1>
    </div>
  </div>
</header>
<div class="py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" href="{% url 'blog:index' %}">ブログ</a>
    <a class="p-2 link-secondary" href="#">お問い合わせ</a>
    {% if user.is_authenticated %}
      <a href="{% url "my_page" %}" class="p-2 link-secondary">マイページ</a>
      <a href="{% url "logout" %}" class="p-2 link-secondary">ログアウト</a>
    {% else %}
      <a href="{% url "login" %}" class="p-2 link-secondary">ログイン</a>
      <a href="{% url "signup" %}" class="p-2 link-secondary">ユーザー登録</a>
    {% endif %}
  </nav>
</div>
